<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All tests suite" parallel="classes" thread-count="2">

    <test name="Progressive Test">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.automationpractice.tests.VerifyQuoteTest" />
            <class name="com.automationpractice.tests.GoogleSearchTest" />
        </classes>
    </test>


</suite>